<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leo.elib.mapper.AuthorMapper">
    
    <resultMap id="AuthorMap" type="Author" autoMapping="true">
        <result column="author_id" property="authorId"/>
        <result column="book_count" property="bookCount"/>
    </resultMap>

    <select id="getAuthor" resultMap="AuthorMap">
        select a.author_id, name, `desc`, if (ba.author_id is null, 0, count(1)) as book_count
        from author a
        left join book_author ba on a.author_id = ba.author_id
        where a.author_id = #{authorId}
    </select>

    <select id="debug_getAuthor" resultMap="AuthorMap">
        select a.author_id, a.name, a.`desc`, if (ba.author_id is null, 0, count(1)) as book_count
        from (
         select author_id, name, `desc`
         from author
         limit #{num} offset #{offset}
        ) a
        left join book_author ba on a.author_id = ba.author_id
        group by a.author_id
    </select>

</mapper>