<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leo.elib.mapper.UserMapper">
    <resultMap id="UserMap" type="User">
        <id column="user_id" property="userId"/>
    </resultMap>

    <select id="getUserById" resultType="User" resultMap="UserMap">
        SELECT *
        FROM user
        WHERE user_id = #{userId}
    </select>
    <select id="getUserByEmail" resultType="User" resultMap="UserMap">
        SELECT *
        FROM user
        WHERE email = #{email}
    </select>

    <select id="checkEmailExist" resultType="boolean">
        select if(count(*) > 0, true, false)
        from user
        where email = #{email}
    </select>
</mapper>